.scrolled {
    position: sticky;
    top: 0;
    background-color: var(--colorMain);
    transition: all 2s;
} 

.navbar {
    position: relative;
    background-color: var(--colorGlass);
}

.gridResize {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-self: center;
    align-items: center;
    width: 98%;
}

.logo {
    font-family: Altera2;
    font-size: 2.5vh;
    justify-self: left;
    margin: 0;
    padding: 0;
}

.menuBar {
    display: none;
    justify-self: right;
}